body {
	/* Background is just a placeholder, please change*/
	background-color: #99bbff;
	font-family: 'Kurale', serif;
}

.top {
	background-color: #faa;
}

.top h1 {
	text-align: center;
}

.top nav {
	float: right;
	margin-right: 15px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 5px grey;
	background-color: #9fa;
	padding-right: 15px;
}

.mid {
	margin: 10px 10%;
}

.mid h2 {
	text-align: center;
}

footer {
	border: 3px double #fa9;
	text-align: center;
}

.rev {
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #444;
	margin: 10px;
	padding: 7px;
	background-color: #9fb;
}

.rev h3 {
	text-align: center;
}

.rev img {
	float: left;
	margin: 5px;
} 

.link {
	border: 3px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #444;
	margin: 10px;
	padding: 7px;
	background-color: #9fb;
}

.link h3 {
	text-align: center;
}

.link img {
	width: 100px;
	margin: 5px;
	float: right;
} 

.link .a {
	font-size: 150%;
}
